.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 95% 5%;
  grid-template-areas: "messageArea users"
                        "input send";
  height: 100vh;
  max-height: 100vh;
}

.messageArea {
  display: grid;
  grid-area: messageArea;
  border: 1px solid;
}

.users {
  display: grid;
  grid-area: users;
  border: 1px solid;
}

.input {
  display: grid;
  grid-area: input;
  height: 100%;
}

.send {
  display: grid;
  grid-area: send;
  height: 100%;
  border: 1px solid;
}

.send span.material-icons {
  margin: auto;
}
