<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <div class="container">

    <div class="messageArea">
      <ul class="messages">

      </ul>
    </div>
    <div class="users">

    </div>
    <div class="input">
      <input type="text" (keydown)="onKey($event)" (keyup)="notify()" (keyup.enter)="sendMessage()">
    </div>
    <div class="send">
      <button title="Send Message" (click)="sendMessage()">
        <span class="material-icons">send</span>
      </button>
    </div>

  </div>
</body>
</html>
