.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95% 5%;
  grid-template-areas: "messages"
                        " input";
  max-height: 100vh;
  overflow-y: hidden;
}

.messages {
  display: grid;
  grid-area: messages;
  min-height: 960px;
  border: 1px solid;
}

.mat-tab-label {
  color: black;
}

.users {
  display: grid;
  grid-area: users;
  border: 1px solid;
}

.input {
  display: grid;
  grid-area: input;
  border: 1px solid;
}

.send {
  display: grid;
  grid-area: send;
  border: 1px solid;
}
