.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95% 5%;
  grid-template-areas: "messages"
                        " input";
  height: 100vh;
  max-height: 100vh;
}

.messages {
  display: grid;
  grid-area: messages;
  max-height: 95%;
}

.mat-tab-label {
  color: black;
}

.scrollable {
  max-height: 640px;
  overflow-y: scroll;
}

.mat-list-icon, .mat-list-text {
  color: rgba(0, 0, 0, 0.54);
}

.input {
  display: grid;
  grid-area: input;
  position: sticky;
  bottom: 0;
  height: 100%;
}
