@import '~@angular/material/_theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-grey);
$candy-app-accent:  mat-palette($mat-purple, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-dark-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include angular-material-theme($candy-app-theme);

// @import '~@angular/material/theming';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @include mat-core();
// .dark-theme {
//   $primary: mat-palette($mat-grey, 100);
//   $accent: mat-palette($mat-purple, 500);
//   $warn: mat-palette($mat-red, 900);

//   $darktheme: mat-dark-theme($primary, $accent, $warn);

//   @include angular-material-theme($darktheme);
// }
