@import '~@angular/material/_theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-grey, 100);
$candy-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-teal, 900);

$candy-app-theme: mat-dark-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include angular-material-theme($candy-app-theme);
